
@{
    ViewData["Title"] = "Auth";
    ViewData["Navbar"] = false;
    ViewData["css"] = "/css/Auth.css";

}
<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="centered-form">
                <form class="form-autification" action="" method="post"> <!--action это путь куда будем отправлять, а метод post это тип запроса-->
                    <img src="../Picture/LogoCursWork.png"
                         class="mb-4"
                         style="width: 100%" />  <!--подогнали картинку под ширину блока в котором она состоит-->

                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Логин:</label>
                        <input type="text"
                               class="form-control"
                               style="background-color: #D9D9D9;"
                               id="exampleInputEmail1"
                               name="username" />
                    </div>

                    <div class="mb-5">
                        <label for="exampleInputPassword1" class="form-label">Пароль:</label>
                        <input type="password"
                               class="form-control"
                               style="background-color: #D9D9D9;"
                               id="exampleInputPassword1"
                               name="password"/>
                    </div>

                    <div class="mb-4 d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary">Войти</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="footer-link">
    <img src="../Picture/5a75cf3f-a0e6-4e3e-86a2-60675202e775.jpg">
    <a href="https://github.com/Phoen1X01" target="_blank">Powered by Phoen1X01</a> <!-- ефргет бланк открывает новую вкладку-->
</div>
